margin: 0;  margem
  padding: 0;
  box-sizing: border-box;
  width: Fixed (375px)px;
height: Hug (300px)px;
gap: 10px;
opacity: 0px;
width: Fixed (375px)px;
height: Hug (1,732px)px;
top: 300px;
padding: 48px 24px 48px 24px;
gap: 50px;
opacity: 0px;
width: Fixed (375px)px;
height: Hug (984px)px;
top: 2032px;
padding: 64px 24px 64px 24px;
gap: 0px;
opacity: 0px;
background: #000000; preto
background: #FF3536; vermelho
background: #FFBD48; amarelho
background: #FEFBF4; branco
background: #FFD4C9;  rosa 
background: #FFF5DE;  brnco
background: #60BB28;  verde 
background: #000000  80% preto
background: #2E2E2E; sinza 
background: #FFFFFF; branco
width: 216px;
height: 143px;
gap: 0px;
opacity: 0px;
width: 167px;
height: 29px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 24px;
font-weight: 600;
line-height: 29.05px;
text-align: right;
width: Hug (206px)px;
height: Hug (41px)px;
padding: 12px 40px 12px 40px;
gap: 10px;
border-radius: 25px 0px 0px 0px;
opacity: 0px;
background: #FFBD48; amarelo

width: Hug (206px)px;
height: Hug (41px)px;
padding: 12px 40px 12px 40px;
gap: 10px;
border-radius: 25px 0px 0px 0px;
opacity: 0px;
background: #FFBD48;  amarelo
width: 324px;
height: 360px;
gap: 0px;
opacity: 0px;
width: 141px;
height: 39px;
gap: 0px;
opacity: 0px;

 ]];
 ]];
 